extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3.text-right לקוח חדש
  form(id='addClient-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') שם
      .col-md-7
        input.form-control(type='text', name='name', id='name', placeholder='שם', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') מייל
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='מייל', autofocus)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='phoneNumber') מספר טלפון
      .col-md-7
        input.form-control(type='tel', name='phoneNumber', id='phoneNumber', placeholder='מספר טלפון')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='age') גיל
      .col-md-7
        input.form-control(type='number', name='age', id='age', placeholder='גיל')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right מגדר
      .col-md-7
        label.radio.col-md-3.text-right
          input(type='radio', name='sex', value='female', data-toggle='radio', checked)
          span בת
        label.radio.col-md-9.text-right
          input(type='radio', name='sex', value='male', data-toggle='radio')
          span בן
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='city') עיר
      .col-md-7
        select.form-control(name='city', id='city', autofocus)
            option(selected, value='kiryat yearim') קרית יערים
            option(value='mevaseret') מבשרת
            option(value='beit shemesh') בית שמש
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='hourTariff') תעריף לשעה
      .col-md-7
        //- TODO: Check about the defaults tariffs
        input.form-control(type='number', name='hourTariff', id='hourTariff', value=120)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='fortyFiveMinutesTariff') תעריף לשלושת רבעי שעה
      .col-md-7
        input.form-control(type='number', name='fortyFiveMinutesTariff', id='fortyFiveMinutesTariff', value=100)
    .form-group.row
      .col-md-3
      .col-md-2.col-form-label
        button.w-100.btn.btn-success(type='submit')
          i.fas.fa-user-plus.fa-sm
          | הוסיפי
