footer
  .container.text-center
    p.float-left.text-truncate © 2018 Developer: David Cohen. All Rights Reserved
    p.float-right
      //- TODO: Add link to developer contact page somewhere.
      a(href='https://github.com/sahat/hackathon-starter') GitHub Project 